/* Image 1  */
.eos-card-image img {
    -webkit-clip-path: polygon(0 0,90.3% 0,100% 30%,77% 100%,0 100%);
    clip-path: polygon(0 0,90.3% 0,100% 30%,77% 100%,0 100%);
    order: 1;
}
@media only screen and (max-width:800px) {
.eos-card-image img {
    -webkit-clip-path: polygon(0 0,100% 0,100% 100%,100% 100%,0 100%);
    clip-path: polygon(0 0,100% 0,100% 100%,10% 100%,0 100%);
    order: 1;
}
}




/* image 2 */

.eos-card-image-2 img {
    clip-path: polygon(10.3% 0,100% 0,100% 100%,23.6% 100%,0 30%);
    order: 2;
}
@media only screen and (max-width:800px) {
.eos-card-image-2 img {
    clip-path: polygon(0% 0,100% 0,100% 100%,0% 100%,0 30%);
    order: 2;
}
}
